<div class="text-center">
  <h2>{{ product.title }}</h2>
  <div class="flex-center">
    <quill-view-html [content]="product.photo"></quill-view-html>
  </div>

  <h2>Price: {{ product.price }}</h2>
  <button
    [routerLink]="['/product', product.id]"
    class="btn btn-dark"
  >
    <i class="fas fa-external-link-alt"></i>
    Open
  </button>
  <button
    class="btn btn-success"
    [routerLink]="['/cart']"
    (click)="addProduct(product)"
  >
    <i class="fas fa-cart-arrow-down"></i>
    Add to Cart
  </button>
</div>
